@font-face {
    font-family: 'Albatross Mono';
    src: url('./fonts/Test Söhne Mono/test-soehne-mono-buch.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Albatross Mono',"Open Sans", sans-serif; /* Fallback to sans-serif if custom font fails */
  background: rgb(25, 25, 25); 
}


.about-container {
    background: rgb(20, 20, 20); 
    color: #f5f5f5;
    height: 100%; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    /*justify-content: center; /* Center children vertically */
    padding: 2rem; /* Spacing around the content */
  }
  
.about-content {
  margin-top: 5rem;
  font-size: 0.8rem;
  width: 45%; /* Adjust width as needed */
  max-width: 600px; /* Max width for content area */
  /* text-align: justify; */
}

.back-link {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.title {
  text-align: center;
  font-family: 'Albatross Mono',"Open Sans", sans-serif; /* Fallback to sans-serif if custom font fails */
}


a {
  font-family: 'Albatross Mono',"Open Sans", sans-serif; /* Fallback to sans-serif if custom font fails */
  color: #DFFF11; /* Style for back link */
}

a:visited, .highlight{
  color: #DFFF11; /* Style for back link */
}


  
  /* Additional styles as needed */
  